<div style="padding: 36px 0;">
  <center>
    <%- include('partials/header', { iconImgSrc, logoImgSrc }); %>

    <p style="color: #2b2b2b; margin-top: 6px; text-align: center; font-size: 20px;">Você foi removido do projeto <b><%= projectName %></b> e portanto não pode mais acessá-lo na plataforma.</p>

    <%- include('partials/footer'); %>
  </center>
</div>
