<img src="<%= iconImgSrc %>"/>

<div style="margin-top: 26px; width: 100%;">
  <div style="margin: 0 auto; display: inline-flex; justify-content: center; align-items: center;">
    <img src="<%= logoImgSrc %>" />
    <h1 style="color: #2b2b2b; margin-left: 8px; text-align: center; font-size: 26px;">Infinitum</h1>
  </div>
</div>
